* {
    margin: 0;
    padding: 0;
}

/* header section start here */
.header-banner {
    background-image: url(./banner/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    width: 100%;
}

.header-section {
    padding: 150px;
    padding-left: 1050px;
    text-align: right;
}

.head-title {
    margin-bottom: 20px
}

.header-description {
    margin-bottom: 20px;

}

.btn-primary {
    Width: 120px;
    Height: 54px;
    border: none;
    border-radius: 8px;
    background-color: rgba(166, 160, 148, 0.525);
    font-size: 15px;
}

/* header section ends */

/* main section start  */

/* section of achivement start */
.achivement-of-the-yaer {
    display: flex;
    padding: 160px;
}

.img {}

.achivement {
    margin: 250px;
}

.achivement-title {
    margin-bottom: 20px;

}

.achivement-descriptions {
    margin-bottom: 30px;

}

.achivement-descriptions ul>li {}

/* section  of achivement ends*/

/* my plans start */
.my-plan-title {
    text-align: center;
    margin-bottom: 40px;
}

.my-plan {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 60px;
    text-align: center;
}

.always-positive-mind {
    margin: 30px;
    background-image: url(./gradient2.png), url(./watch.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
    color: antiquewhite;
}

.positive {
    padding-left: 220px;
    padding-top: 50px;

}

.positive-mind-title {

    margin: 10px;
}

.button {
    Width: 80px;
    Height: 44px;
    border: none;
    border-radius: 8px;
    background-color: rgba(62, 54, 38, 0.525);
    font-size: 15px;
    color: antiquewhite;
}
/* my plans ends */

/* main section ends */
/* footer start  */
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: whitesmoke;
    padding: 50px;
}
.fututre{

}
.email{
    height: 30px;
    width: 100%;
    border: none;
}
.subscribe{


}
/* foooter ends */